body{
    margin: 0 auto;
    padding: 0;
    font-family: poppins;
    color: white;
    display: flex;
}

main{
    /* margin-left: 30%;
    margin-right: 30%; */
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 40%;
}

.letters{
    height: 2.3em;
    width: 2.3em;
    border: 2px solid black;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    color: black;
}

aside{
    display: flex;
    width: 30%;
    margin-left: 2em;
}

.box{
    height: 2.3em;
    width: 2.3em;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TW {
    background-color: red;
}

.DL {
    background-color: rgb(0, 153, 255);
}

.DW {
    background-color: rgb(255, 0, 98);
}

.TL {
    background-color: rgb(132, 0, 255);
}

#racket1{
    height: 100%;
    width: 100%;
}
#racket1{
    height: 100%;
    width: 100%;
}